﻿html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100px;float:left; }
#places {
    float: left;
}


.overlay {
    position:fixed;
    top:0;bottom:0;left:0;right:0;
    background-color:#999; opacity:0.8;
    z-index:0;
}